body {
  background-color: #EAF6F6;
  background-image: url("https://rare-gallery.com/thumbs/389573-4k-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: 	#0BD5F1;
}
h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h2 {
      color:#CCEEFF;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h3 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: grey;
    }
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: #ECB3F3;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
